header {
}

body{
    background: whitesmoke;
}

#BackgroundComp{
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    position: absolute;
    z-index: 0;
}

#inicio{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: 250px;
}

.logoIcon {
    width: 40vh;
    height: 40vh;
}

.backGroundIcon {
    width: 80vh;
    height: 70%;
}

.user-box {
    position: absolute;
}

.ClickableIndex{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

::placeholder {
    color: darkgrey;
    font-size: 20px;
}

.textUserHolder{
    border-radius: 10px;
    height: 30px;
    width: 100%;
    background-color: lightgray;
    border-color: darkgrey;
}

.ingresarButton{
    width: 300px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 25px;
    background-color: #e1ab4b;
    color: #5f564f;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

.register {
    color: #5f564f;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
}

.recoverPass {
    color: #5f564f;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    z-index: 1;
}

#navBar {
    background: #589e93;
    height: 118px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.logoBar {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 20px 50px;
    justify-content: center;
}

.one {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 1;
    grid-row: 3;
}

.four {
    grid-column: 2;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 3;
}

.vinyl {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.song {
    border-radius: 25px;
    background: #7BC950;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.busquedaText {
    font-size: 40px;
    color: lightgrey;
    text-align: center;
}

.add {
    border-radius: 25px;
    background: #A0CCDA;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.songsText {
    font-size: 40px;
    color: grey;
    text-align: center;
}

.user {
    border-radius: 25px;
    background: #A0CCDA;
    width: 800px;
    height: 800px;
    display: flex;
    z-index: -1;
}

.userName {
    font-size: 40px;
    text-decoration: none;
}

.profileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}